<div id="scripInject">

<script type="text/javascript" src="http://www.sportsauthority.com/graphics/media/tsa/SA/JSLibrary/jquery.min.js"></script>
<script type="text/javascript" src="http://img.ed4.net/tsa/images/Landing_Pages/2014/Executive/css.js"></script>
<script type="text/javascript" src="http://img.ed4.net/tsa/images/Landing_Pages/2014/Executive/openTab.js"></script>
</div>
<div id="ContentWrapper">
<div class="BreadCrumb SmallLink"><a href="http://www.sportsauthority.com/home/index.jsp">Home</a> &#160;&gt;&#160;&#160;<a href="http://www.sportsauthority.com/corp/index.jsp">About Us</a> &#160;&gt;&#160;<strong>Executive Leadership Team</strong></div>
<div id="LeftColumn">
<p class="SmallLink"><span class="push">About Us</span></p>
<p class="SmallLink"><a href="http://www.sportsauthority.com/corp/index.jsp?page=aboutus&amp;clickid=leftnav_corp_aboutus">About Us</a><br />
<a href="http://www.sportsauthority.com/corp/index.jsp?page=jobs&amp;clickid=leftnav_corp_jobs">Careers</a><br />
<a href="http://www.sportsauthority.com/corp/index.jsp?page=donations">Donations &amp;&#160;Sponsorships</a><br />
<a href="http://www.sportsauthority.com/corp/index.jsp?page=events&amp;clickid=leftnav_corp_events">Event Calendar</a><br />
<a href="http://www.sportsauthority.com/corp/index.jsp?page=executive&amp;clickid=leftnav_corp_executive">Executive Leadership<br />
Team</a><br />
<a href="http://www.sportsauthority.com/corp/index.jsp?page=settlements&amp;clickid=leftnav_corp_settlements">Settlements</a><br />
<a href="http://stores.sportsauthority.com/">Store Locator</a><br />
<a href="http://www.sportsauthority.com/shop/index.jsp?categoryId=12455250">Store Services</a><br />
<span class="Sub">-<a href="http://www.sportsauthority.com/shop/index.jsp?categoryId=12455250#TSA_rentals">Ski &amp;&#160;Snowboard Rentals</a></span><br />
<span class="Sub">-<a href="http://www.sportsauthority.com/shop/index.jsp?categoryId=12455250#TSA_rentals">Ski &amp;&#160;Snowboard Services</a></span><br />
<span class="Sub">-<a href="http://www.sportsauthority.com/shop/index.jsp?categoryId=12455250#TSA_rentals">Bike Services</a></span><br />
<a href="http://www.sportsauthority.com/shop/index.jsp?categoryId=12800810">Team Savings</a><br />
<a href="https://www.sportsauthority.com/corp/index.jsp?page=logistics_login&amp;clickid=leftnav_corp_logisticinfo">Vendor Information</a></p>
</div>
<div id="RightColumn">
<div id="HeaderE"><img src="http://www.sportsauthority.com/images/corp_header_home.gif" width="148" height="37" alt="About Us" border="0" /></div>
<div class="clearFirst">&#160;</div>
<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Foss.jpg" width="128" height="136" alt="Michael Foss" />
<div class="BioRight">
<h3>Michael E. Foss</h3>
<span class="title">Chief Executive Officer</span>
<div class="ExDes">
<p>Michael Foss is the Chief Executive Officer of Sports Authority and also serves as the Chairman of the Board of Directors. He joined Sports Authority&#8217;s Board of Directors in 2009 and became CEO in June of 2013.</p>
<p>In his role, Michael oversees all day-to-day operations and strategic growth initiatives, including store expansion, marketing and merchandising.</p>
<p>Michael has more than 30 years of diverse experience in the financial and general management operations of public and private companies in the retail, technology and customer service industries.</p>
<p>Prior to joining Sports Authority, Michael was Chief Financial Officer of Petco Animal Supplies. Prior to his work at Petco, He was the Chief Financial Officer of Circuit City Stores.</p>
<p>He has also held various leadership positions at Teletech Holdings Corporation, Kodak, Rally&#8217;s and IBM.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>
<div class="clear">&#160;</div>
<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Binkley.jpg" width="128" height="136" alt="Stephen Binkley" />
<div class="BioRight">
<h3>Stephen Binkley</h3>
Executive Vice President &amp; Chief Merchandising Officer
<div class="ExDes">
<p>Stephen Binkley is the Executive Vice President &amp; Chief Merchandising Officer for Sports Authority. Stephen joined the company in February 2011. In his role, Stephen is responsible for driving the retail strategy for the organization by managing the merchandising, planning and private brand teams. In addition, he oversees teams focused on the development of alternative store formats.</p>
<p>Before he assumed the position of Chief Merchandising Officer, Stephen was the Senior Vice President of Merchandising for Softlines, responsible for all buying and merchandising functions for active and licensed apparel, footwear, seasonal apparel and accessories, as well as relations with the company&#8217;s market vendor base.</p>
<p>Prior to joining Sports Authority, Stephen held senior leadership positions throughout the department store arena including Merchandising and Planning at both Kohl&#8217;s and Macy&#8217;s.</p>
<p>Stephen has more than 25 years of experience in the retail, apparel, footwear and hard goods industry, with a proven ability to make strategic decisions and drive business results.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>
<div class="clear">&#160;</div>
<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Stoupa.jpg" width="128" height="136" alt="Ron Stoupa" />
<div class="BioRight">
<h3>Ron Stoupa</h3>
<span class="title">Executive Vice President &amp; Chief Marketing Officer</span>
<div class="ExDes">
<p>Ron Stoupa serves as the Executive Vice President and Chief Marketing Officer. Ron joined Sports Authority in January 2015, and is responsible for Sports Authority&apos;s overall marketing and consumer experience strategies. In his role, Ron is responsible for leading the strategic development and oversight of the company&apos;s marketing plans to further build the Sports Authority brand.</p>

<p>Ron has more than 20 years of experience leading marketing strategies across a variety of retail industries. Most recently, he served as Chief Marketing Officer for Pep Boys, where he oversaw the repositioning of a brand that had been in place for more than 90 years, and led all aspects of marketing, including strategy, CRM, creative, digital and traditional marketing. His other prior marketing experience includes roles with Black &amp; Decker, Bass Pro Shops and ConAgra Foods.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>
<div class="clear">&#160;</div>
<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Gaudet.jpg" width="128" height="136" alt="Paul Gaudet" />
<div class="BioRight">
<h3>Paul Gaudet</h3>
<span class="title">Executive Vice President, Store Operations</span>
<div class="ExDes">
<p>Paul Gaudet is the Executive Vice President of Store Operations for Sports Authority. Paul joined the company in May 1986. In his role, Paul oversees the operations of more than 465 Sports Authority stores, the Store Support Center, and the real estate and construction strategy teams.</p>
<p>Paul is a 27-year veteran in the sporting goods retail industry. He joined Gart Bros. Sporting Goods Company in May 1986 and went on to serve as District Manager in the Denver market from 1994 to 1999, Regional Vice President of the Rocky Mountain Region from 1999 to 2003, and Senior Vice President of Construction/Visual from 2003 to 2011. During his tenure at Sports Authority, Paul has developed a broad range of operations experience and expertise.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>
<div class="clear">&#160;</div>
<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Aguilar.jpg" width="128" height="136" alt="Jeremy Aguilar" />
<div class="BioRight">
<h3>Jeremy Aguilar</h3>
<span class="title">Executive Vice President, Chief Financial Officer</span>
<div class="ExDes">
<p>Jeremy Aguilar is the Executive Vice President and Chief Financial Officer for Sports Authority. Jeremy joined the company in February 2014. In his role, Jeremy is responsible for accounting, tax, treasury, financial planning and analysis as well as logistics, asset protection and internal audit.</p>
<p>Prior to joining Sports Authority, Jeremy was the Chief Financial Officer for h.h. gregg, Inc., a publicly traded specialty retailer of major appliances and consumer electronics from 2009 to 2014. He also held several other positions at h.h. gregg, Inc. during his nine years of service. Prior to his work at h.h. gregg, Inc., Jeremy served as a manager at KPMG LLP, an accounting, tax and consulting firm.</p>
<p>Jeremy is a certified public accountant and earned his bachelor&#8217;s degrees in accounting and computer information systems from the Kelley School of Business at Indiana University.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>

<div class="clear">&#160;</div>

<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Garrett.jpg" width="128" height="136" alt="Douglas Garrett" />
<div class="BioRight">
<h3>Douglas Garrett</h3>
<span class="title">Senior Vice President, Chief Counsel &amp;Corporate Secretary</span>
<div class="ExDes">
<p>Douglas Garrett is the Senior Vice President, Chief Counsel and Corporate Secretary for Sports Authority. Douglas joined the company in July 2003. Prior to his career at Sports Authority, he practiced law in the cable industry at various companies, including Tele-Communications, Inc., where he was responsible for compliance with the Cable Act of 1992. He also served on the Englewood City Council in Colorado from 1997 to 2005, most recently serving as Mayor from 2003 to 2005.</p>
<p>Douglas also serves on the Board of Directors for Mega Sports Co., Ltd., a joint Japanese venture operating more than 80 stores in Japan.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>
<div class="clear">&#160;</div>
<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Gordon.jpg" width="128" height="136" alt="Robert Gordon" />
<div class="BioRight">
<h3>Robert Gordon</h3>
<span class="title">Senior Vice President, Human Resources</span>
<div class="ExDes">
<p>Robert Gordon is the Senior Vice President of Human Resources for Sports Authority. Robert joined the company in September 2011. In his role, Robert actively oversees organizational development, policies and programs, talent management, recruiting and retention, compensation and benefits, employee and labor relations and team member services. Robert is also responsible for all goals and strategies of Human Resources to support the growth as a strategic partner to all of Sports Authority's business units.</p>
<p>Prior to joining Sports Authority, Robert was the Vice President of Recruiting, Training and Development for Fred Meyer stores, where he was responsible for directing and managing the operational and financial performance of the retail education, recruiting, organizational development, talent management and Fred Meyer Television teams.</p>
<p>Robert has more than 35 years of extensive retail and leadership experience, progressively working his way through leadership positions in store, district and corporate functions.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>
<div class="clear">&#160;</div>
<div class="BioWrapper"><img src="http://tsa.imageg.net/graphics/media/tsa/lp/2014/Executive/images/Foster.jpg" width="128" height="136" alt="Michael Foster" />
<div class="BioRight">
<h3>Michael Foster</h3>
<span class="title">Vice President, Business Development &amp;Strategy </span>
<div class="ExDes">
<p>Michael Foster is the Vice President of Business Development and Strategy for Sports Authority. Michael joined the company in August 2013. Prior to his career at Sports Authority, Michael was the Executive Director of Corporate Business Development for Tredegar Corporation, a publicly traded global manufacturing company. In this role, he was responsible for the development and management of mergers and acquisition activities and processes.</p>
<p>Prior to his work at Tredegar, Michael spent five years at Circuit City Stores where he held positions involving business development and treasury functions.</p>
</div>
<div class="toggleClass">
<p>Read More</p>
</div>
</div>
</div>
<div class="clear">&#160;</div>
</div>
</div>